@charset "utf-8";
@use "../foundation/index" as *;

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🌟 flex
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 横並び + 上下中央
// :::::::::::::::::::::::::::::::::::::::::::::
.u-flex-vcenter {
  display: flex;
  align-items: center;
}

// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 横並び + 上下中央 + 中央揃え
// :::::::::::::::::::::::::::::::::::::::::::::
.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 縦並び + 左右中央
// :::::::::::::::::::::::::::::::::::::::::::::
.u-flex-col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🌟 responsive
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 pc-none
// :::::::::::::::::::::::::::::::::::::::::::::
.u-pc-none {
  display: none;

  @media (max-width: $Bp-Tab) {
    display: block;
  }
}
// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 pc-only
// :::::::::::::::::::::::::::::::::::::::::::::
.u-pc-only {

  @media (max-width: $Bp-Tab) {
    display: none;
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 sp-none
// :::::::::::::::::::::::::::::::::::::::::::::
.u-sp-none {

  @media (max-width: $Bp-Sp) {
    display: none;
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::
//	🔸 sp-only
// :::::::::::::::::::::::::::::::::::::::::::::
.u-sp-only {
  display: none;

  @media (max-width: $Bp-Sp) {
    display: block;
  }
}