@charset "utf-8";
@use '../foundation' as *;

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🌟 footer
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.l-footer {
	padding: 1.25rem 0;
	background: $c-bg;
	&__copyright {
		font-size: 0.875rem;
		color: $c-base;
		font-weight: 500;
		line-height: 1;
		text-align: center;
	}
}
